# Build directory
dist/

# Coverage directory used by tools like istanbul
coverage/

# Database data directory
docker/data/

# Dependency directories
node_modules/

# Dev docker compose files
docker-compose.dev.yml

# Environment variable files
.env
.env.dev

# IDE files
.DS_Store
.vscode